@model List<ExpressSolution.Stores.WebAdmin.Models.Store.Inputs.CategoryStoreInputVm>
@using ExpressSolution.Stores.WebAdmin.Models.Store.Inputs
@{ 
    Layout = null;
} 

<form  method="post" id="categoriesStore">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-12" style="margin-bottom:5px!important">
                <label>Categorias</label>

                <select class="select" multiple>

                    @foreach (CategoryStoreInputVm categoryStore in Model)
                    {
                        @if (categoryStore.Selected)
                        {
                            <option value="@categoryStore.Id" selected>@categoryStore.Name</option>
                        }

                        @if (categoryStore.Selected==false)
                        {
                            <option value="@categoryStore.Id">@categoryStore.Name</option>
                        }
                    }

                </select>
                <div class="select-custom-content">
                    <button class="btn-save btn btn-primary btn-sm">Guardar</button>
                </div>
            </div>
           
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-white" data-dismiss="modal">Cerrar</button>
    </div>
</form>