@model ExpressSolution.Stores.WebAdmin.Models.Store.Outputs.DetailStoreOutputVm
@using ExpressSolution.Stores.WebAdmin.Models.Store.Outputs
@using ExpressSolution.Stores.WebAdmin.Extensions
@using ExpressSolution.Stores.WebAdmin.Models
@using ExpressSolution
@using ExpressSolution.Stores.WebAdmin.Models.Store.Inputs

@{
    ViewData["Title"] = "Detail";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalle de tienda</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">Detalle</div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-12 col-sm12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-3" aria-expanded="true">Datos generales</a></li>
                                    @if (string.IsNullOrEmpty(Model.StoreInput.Id) == false)
                                    {
                                        <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Datos Adicionales</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">Multimedias</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false">Contactos</a></li>
                                    }

                                </ul>
                                <div class="tab-content">
                                    <div id="tab-3" class="tab-pane active">
                                        <div class="panel-body">
                                            <form method="post" enctype="multipart/form-data">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <input type="hidden" asp-for="StoreInput.Id" />
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <label asp-for="StoreInput.Name">Nombre</label>
                                                        <input asp-for="StoreInput.Name" class="form-control" />
                                                        <span asp-validation-for="StoreInput.Name" class="text-danger small form-text"></span>
                                                        <br />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label asp-for="StoreInput.Description">Descripcion</label>
                                                        <input asp-for="StoreInput.Description" class="form-control" />
                                                        <span asp-validation-for="StoreInput.Description" class="text-danger small form-text"></span>
                                                        <br />
                                                    </div>
                                                    @if (string.IsNullOrEmpty(Model.StoreInput.Id) == false)
                                                    {
                                                        <div class="col-md-6">
                                                            <label asp-for="DateCreated">Fecha creacion</label>
                                                            <input asp-for="DateCreated" disabled class="form-control" name="DateCreated" />
                                                            <br />
                                                        </div>

                                                        <div class="col-md-6">
                                                            <input asp-for="Active" type="checkbox" name="Activo" />
                                                            <label asp-for="Active">Activo</label>
                                                            <br />
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label>Categorias : </label>
                                                            <labe style="font-weight:bold">@string.Join(",", Model.Categories)</labe> <a href="@Url.Action("StoreCategories","Store")" class="categories btn btn-primary" data-id="@Model.StoreInput.Id">Modificar</a>
                                                            <br />
                                                        </div>

                                                    }

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label asp-for="StoreInput.ExtendedDescription">Extended Descripcion</label>
                                                                @Html.TextAreaFor(x => x.StoreInput.ExtendedDescription, new { @class = "editorDescripcion form-control", rows = "6", cols = "50" })
                                                            </div>
                                                            <br />
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <br />
                                                        <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Guardar</button>
                                                    </div>
                                                </div>

                                                <br />

                                            </form>

                                        </div>
                                    </div>
                                    <div id="tab-4" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                @if (string.IsNullOrEmpty(Model.StoreInput.Id) == false)
                                                {
                                                    <div class="row" style="margin:15px!important">
                                                        <div class="form-group">
                                                            <a href="#" class="btn btn-white addDataAdicional">
                                                                <i class="fa fa-plus"></i> Nuevo DatoAdicional
                                                            </a>
                                                        </div>
                                                        <br />
                                                        <div class="">
                                                            <table class="table border-bottom border-border">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Nombre</th>
                                                                        <th>Valor</th>
                                                                        <th></th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var d in Model.DynamicData)
                                                                    {
                                                                        <tr>
                                                                            <td>@d.DataName</td>
                                                                            <td>@d.DataValue</td>
                                                                            <td>
                                                                                <a href="#" class="editDataAdicional btn btn-white" data-nombre="@d.DataName" data-valor="@d.DataValue">Editar</a>

                                                                            </td>
                                                                            <td>
                                                                                <a class="deleteData btn btn-white" href="@Url.Action("DeleteData", "Store", new { storeId = Model.StoreInput.Id, name = d.DataName })">Eliminar</a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                    <div id="tab-5" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                @if (string.IsNullOrEmpty(Model.StoreInput.Id) == false)
                                                {
                                                    <div class="row" style="margin:15px!important">
                                                        <div class="form-group">
                                                            <a href="#" class="btn btn-white addMultimedia">
                                                                <i class="fa fa-plus"></i> Nuevo Multimedia
                                                            </a>
                                                        </div>
                                                        <br />
                                                        <div class="">
                                                            <table class="table border-bottom border-border">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Tipo</th>
                                                                        <th>Relevancia</th>
                                                                        <th>Valor</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (MultimediaStoreOutputVm multimedia in Model.MultimediaStoreOutput)
                                                                    {
                                                                        <tr>
                                                                            <td>@EnumExtension.GetEnumDescription(multimedia.MultimediaType)</td>
                                                                            <td>@EnumExtension.GetEnumDescription(multimedia.MultimediaRelevance)</td>
                                                                            <td>
                                                                                @if (multimedia.MultimediaType == ExpressSolution.MultimediaType.Image)
                                                                                {
                                                                                    <img src="@multimedia.UrlMultimedia" width="100">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <label><a target="_blank" href="@multimedia.UrlMultimedia">Ver</a> </label>
                                                                                }

                                                                            </td>
                                                                            <td>
                                                                                <a class="deleteMultimedia btn btn-white" href="@Url.Action("DeleteMultimedia", "Store", new { storeId = Model.StoreInput.Id, multimediaId = multimedia.Id })">Eliminar</a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                    <div id="tab-6" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                @if (string.IsNullOrEmpty(Model.StoreInput.Id) == false)
                                                {
                                                    <div class="row" style="margin:15px!important">
                                                        <div class="form-group">
                                                            <a href="#" class="btn btn-white addContact">
                                                                <i class="fa fa-plus"></i> Nuevo Contacto
                                                            </a>
                                                        </div>
                                                        <br />
                                                        <div class="">
                                                            <table class="table border-bottom border-border">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Nombre</th>
                                                                        <th>Línea fija</th>
                                                                        <th>Celular</th>
                                                                        <th>Email</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (StoreContactOutputVm c in Model.StoreContactOutputs)
                                                                    {
                                                                        <tr>
                                                                            <td>@c.Name</td>
                                                                            <td>@c.LandLineNumber</td>
                                                                            <td>@c.MobileNumber</td>
                                                                            <td>@c.Email</td>
                                                                            <td><a class="btn btn-primary editcontact" 
                                                                                           href="javascript:;"
                                                                                           data-codigo="@c.Id"
                                                                                           data-nombre="@c.Name"
                                                                                           data-fija="@c.LandLineNumber"
                                                                                           data-celular="@c.MobileNumber"
                                                                                           data-email="@c.Email">Editar</a></td>
                                                                            <td> <a class="btn btn-danger deletecontact" href="@Url.Action("DeleteContact", "Store", new { StoreId = Model.StoreInput.Id, contactId = c.Id })">Eliminar</a></td>
                                                                          
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="modal-detalle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Detalle de dato adicional</h4>
            </div>
            <div class="modal-body">
                <form asp-action="SaveDynamicData" asp-controller="Store" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="hidden" asp-for="DynamicDataStore.StoreId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DynamicDataStore.DataName">Nombre</label>
                                <input asp-for="DynamicDataStore.DataName" class="form-control" />
                                <span asp-validation-for="DynamicDataStore.DataName" class="text-danger small form-text"></span>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DynamicDataStore.DataValue">Valor</label>
                                <input asp-for="DynamicDataStore.DataValue" class="form-control" />
                                <span asp-validation-for="DynamicDataStore.DataValue" class="text-danger small form-text"></span>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                        <button type="button" class="btn btn-default btn-white" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modal-detalle-categories" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle de categorias</h4>
            </div>
            <div class="modal-body">
                <div id="categories">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modal-detalle-multimedia" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Detalle de Multimedia</h4>
            </div>
            <div class="modal-body">
                <form asp-action="SaveMultimedia" asp-controller="Store" method="post" enctype="multipart/form-data">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="hidden" asp-for="MultimediaStoreInput.StoreId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MultimediaStoreInput.UrlMultimedia">UrlMultimedia</label>
                                <input asp-for="MultimediaStoreInput.UrlMultimedia" class="form-control" />
                                <span asp-validation-for="MultimediaStoreInput.UrlMultimedia" class="text-danger small form-text"></span>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MultimediaStoreInput.Multimedia">Multimedia</label>
                                <input type="file" asp-for="MultimediaStoreInput.Multimedia" class="form-control" />
                                <span asp-validation-for="MultimediaStoreInput.Multimedia" class="text-danger small form-text"></span>
                            </div>
                            <br />
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MultimediaStoreInput.MultimediaType">Tipo de multimedia</label>
                                <select asp-for="MultimediaStoreInput.MultimediaType" asp-items="EnumExtension.EnumSelectlist<MultimediaType>()" class="form-control">
                                    <option selected="selected" value=>[SELECCIONE]</option>
                                </select>
                                <span asp-validation-for="MultimediaStoreInput.MultimediaType" class="text-danger small form-text"></span>
                            </div>
                            <br />
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MultimediaStoreInput.MultimediaRelevance">Tipo de multimedia</label>
                                <select asp-for="MultimediaStoreInput.MultimediaRelevance" asp-items="EnumExtension.EnumSelectlist<MultimediaRelevance>()" class="form-control">
                                    <option selected="selected" value=>[SELECCIONE]</option>
                                </select>
                                <span asp-validation-for="MultimediaStoreInput.MultimediaType" class="text-danger small form-text"></span>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                        <button type="button" class="btn btn-default btn-white" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modal-detalle-contact" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle de contacto</h4>
            </div>
            <div class="modal-body">
                <div id="Rendercontact">
                    @{await Html.RenderPartialAsync("~/Views/Store/_StoreContact.cshtml", new StoreContactInputVm { StoreId = Model.StoreInput.Id });}
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="@ViewBag.success" id="success" />
<input type="hidden" value="@ViewBag.Error" id="Error" />
<input type="hidden" value="@Url.Action("UpdateStateStore","Store")" id="url-updatestate-store"/>

@section Scripts{

    <script src="~/js/plugins/summernote/summernote.min.js"></script>

    <script>
        $(document).ready(function () {

            var success = $("#success").val()
            if (success != "")
                swal("Exito", success, "success");

            var Error = $("#Error").val()
            if (Error != "")
                swal("Error", Error, "error");


            $('.editorDescripcion').summernote();

            $(document).on("click", ".editDataAdicional", function (e) {
                e.preventDefault();

                var dato = $(this).data('nombre');
                var valor = $(this).data('valor');

                $("#DynamicDataStore_DataName").val(dato);
                $("#DynamicDataStore_DataName").prop('readonly', true);
                $("#DynamicDataStore_DataValue").val(valor);
                $("#modal-detalle").modal();
            });
            $(document).on("click", ".addDataAdicional", function (e) {
                e.preventDefault();

                $("#DynamicDataStore_DataName").prop('readonly', false);
                $("#DynamicDataStore_DataName").val('');
                $("#DynamicDataStore_DataValue").val('');
                $("#modal-detalle").modal();

            });

            $(document).on("click", ".deleteData", function (e) {
                e.preventDefault();
                var url = $(this).attr("href"); Swal.fire({
                    title: "Está seguro?",
                    text: "El dato se eliminará de forma permanente",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: "Si, eliminarlo",
                    cancelButtonText: "No, cancelar",
                }).then((result) => {
                    if (result.value) {
                        window.location = url;
                    }
                })
            });


            $(document).on('click', ".categories", function (e) {

                Component.Ventanas.mostrarLoading();
                e.preventDefault();
                var storeid = $(this).data("id");

                $.ajax({
                    url: $(this).attr('href'),
                    type: 'GET',
                    data: { storeId: storeid },
                    success: function (result) {
                        if (result.exitoso) {
                            $("#categories").html('');
                            $("#categories").html(result.html);
                            $('.multiple').multiselect();
                            Component.Ventanas.ocultarLoading();
                            $("#modal-detalle-categories").modal();

                        } else {
                            Component.Ventanas.ocultarLoading();
                            toastr.error(result.mensaje);
                        }
                    },
                    error: function (error) {
                        Component.Ventanas.ocultarLoading();
                        toastr.error('Error al intentar hacer la peticion recarge la pagina y vuelva a intentarlo')
                    }
                });

            });

            $(document).on('click', '#btn-guarda-categories', function (e) {

                Component.Ventanas.mostrarLoading();
                e.preventDefault();

                var storeid = $("#StoreInput_Id").val();
                var form = $("#categoriesStore");

                var categories = $('#selectCategories option:selected').toArray().map(item => item.value);

                if (categories.length == 0) {
                    swal("Verifique", "debe seleccionar almenos una categoria", "warning");

                } else {

                    $.ajax({
                        url: form.attr('action'),
                        type: 'POST',
                        data: { storeId: storeid, categories: categories },
                        success: function (result) {
                            if (result.exitoso) {
                                swal({
                                    title: "Éxito",
                                    text: 'Categorias almacenadas correctamente',
                                    type: "success"
                                }, function () {
                                    location.reload();
                                });

                                location.reload();
                            } else {
                                Component.Ventanas.ocultarLoading();
                                toastr.error('Error al intentar hacer la peticion recarge la pagina y vuelva a intentarlo')
                            }
                        },
                        error: function (error) {
                            Component.Ventanas.ocultarLoading();
                            toastr.error('Error al intentar hacer la peticion recarge la pagina y vuelva a intentarlo')
                        }
                    });
                }

            });

            $(document).on("click", ".addMultimedia", function (e) {
                e.preventDefault();
                $("#modal-detalle-multimedia").modal();
            });

            $(document).on("click", ".deleteMultimedia", function (e) {
                e.preventDefault();
                var url = $(this).attr("href"); Swal.fire({
                    title: "Está seguro?",
                    text: "La multimedia se eliminará de forma permanente",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: "Si, eliminarlo",
                    cancelButtonText: "No, cancelar",
                }).then((result) => {
                    if (result.value) {
                        window.location = url;
                    }
                })
            });

            $(document).on("click", "#btn-guardar-contact", function (e) {
                e.preventDefault();
                Component.Ventanas.mostrarLoading();
                var url = $("#frmContact").attr('action');

                if ($("#frmContact").valid() == false) {
                    $("#frmContact").submit();
                    Component.Ventanas.ocultarLoading();
                } else {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: $("#frmContact").serialize()
                    }).done(function (data) {
                        if (data.exitoso == false) {
                            $("#Rendercontact").empty();
                            $("#Rendercontact").html(data.html);
                            Component.Ventanas.ocultarLoading();
                        } else {
                            swal({
                                title: "Guardado!",
                                text: "Contacto almacenado exitosamente",
                                type: "success"
                            }, function () {
                                location.reload();
                            });
                        }
                    }).fail(function () {
                        swal("Error", "Error al almacenar los datos de contacto", "error");
                    });
                }
            });

            $(document).on("click", ".editcontact", function (e) {

                $("#ContactId").val($(this).data("codigo"));
                $("#ContactName").val($(this).data("nombre"));
                $("#LandLineNumber").val($(this).data("fija"));
                $("#MobileNumber").val($(this).data("celular"));
                $("#Email").val($(this).data("email"));

                $("#modal-detalle-contact").modal();
            });


            $(document).on("click", ".addContact", function (e) {

                $("#ContactId").val(null);
                $("#ContactName").val(null);
                $("#LandLineNumber").val(null);
                $("#MobileNumber").val(null);
                $("#Email").val(null);

                $("#modal-detalle-contact").modal();
            });

            $(document).on("click", ".deletecontact", function (e) {
                e.preventDefault();
                var url = $(this).attr("href"); Swal.fire({
                    title: "Está seguro?",
                    text: "El contacto se eliminará de forma permanente",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: "Si, eliminarlo",
                    cancelButtonText: "No, cancelar",
                }).then((result) => {
                    if (result.value) {
                        window.location = url;
                    }
                })
            });

            $(document).on("click", "#Active", function (e) {
                Component.Ventanas.mostrarLoading();
                var url = $("#url-updatestate-store").val();
                var storeid = $("#StoreInput_Id").val();
                var state = $(this).is(':checked');
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        storeId: storeid,
                        state: state
                    }
                }).done(function (data) {
                    if (data.exitoso) {
                        Component.Ventanas.ocultarLoading();
                    } else {
                        swal("Error", "Error al cambiar el estado de la tienda", "error");
                    }
                }).fail(function () {
                    swal("Error", "Error al cambiar el estado de la tienda", "error");
                });
            });
       });
    </script>
}